{%extends 'base.html'%} {%block body%}

<div class="content-section animated fadeInUp">
    <form method="POST" action="" enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>{{form.token.label(class="form-control-label")}}</legend>
            <div class="form-group">
                {% if
          form.token.errors %} {{ form.token(class="form-control
          form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.token.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.token(class="form-control form-control-lg") }} {%
          endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class = "btn btn-outline-info")}}
        </div>
        </form>
        </div>


{%endblock%}
